.container {
display:flex;
justify-content: center;

justify-content: center;
}

.loading {
    font-size: 25px;
}

.list {
    width:min(1100px, 90vw);
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
    gap:12px;
    justify-items: center;
}